<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgendaServlet</servlet-name>
        <servlet-class>Servlets.AgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarCharlaServlet</servlet-name>
        <servlet-class>Servlets.CargarCharlaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CharlasOradores</servlet-name>
        <servlet-class>Servlets.CharlasOradores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>Servlets.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>Servlets.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerCharlasAbierta</servlet-name>
        <servlet-class>Servlets.ObtenerCharlasAbierta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarCharlaServlet</servlet-name>
        <servlet-class>Servlets.ActualizarCharlaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportesServlet</servlet-name>
        <servlet-class>Servlets.ReportesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgendaServlet</servlet-name>
        <url-pattern>/AgendaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarCharlaServlet</servlet-name>
        <url-pattern>/CargarCharlaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CharlasOradores</servlet-name>
        <url-pattern>/CharlasOradores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerCharlasAbierta</servlet-name>
        <url-pattern>/ObtenerCharlasAbierta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarCharlaServlet</servlet-name>
        <url-pattern>/ActualizarCharlaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportesServlet</servlet-name>
        <url-pattern>/ReportesServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
